@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Fonte Poppins global */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Fundo cinza para o conteúdo da aplicação */
  .app-container {
    background-color: #A0A0A0; /* Cinza claro */
    min-height: 100vh;
    padding-bottom: 50px; /* Para evitar que o conteúdo seja sobreposto pelo menu fixo */
  }
  
  /* Menu - mantendo fundo escuro */
  .navbar {
    background-color: #343a40; /* Cor escura do menu */
  }
  
  .navbar a {
    color: white;
  }